/* Your existing CSS styles */
body {
    margin: 0;
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif;
    background-color: #0c0c0c; /* Dark mode background color */
    color: #fff; /* White text color */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
    background-color: #0c0c0c;
    padding: 10px;
    padding-bottom: 80px;
    text-align: center;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 150px auto 0; /* Remove bottom margin */
    border-radius: 10px;
    padding: 0; /* Remove default padding */
}

.collections {
    background-color: rgba(12, 12, 12, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 1200px;
    height: 500px;
    text-align: center;
    margin: -357px auto 0;
    margin-left: calc(50% - 600px);
}

.nft-container {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr)); /* Adjust to display eight items per row */
    gap: 10px;
    width: calc(100% - 30px); /* Adjust width to fit container */
    margin: 0 auto;
    padding: 0;
}

.nft-item {
    background-color: #202020;
    padding: 5px; /* Adjust padding */
    border-radius: 8px;
    overflow: hidden; /* Hide overflowing content */
    transition: transform 0.2s ease; /* Add transition for smooth movement */
}

.nft-item:hover {
    transform: translateY(-5px); /* Move the container up by 5 pixels */
}

.nft-item img {
    width: 100%;
    height: auto; /* Auto height to maintain aspect ratio */
    border-radius: 8px;
    cursor: pointer;
}

.nft-item img:hover {
    opacity: 0.8; /* Optional: Reduce opacity on hover */
}

.nft-item h3,
.nft-item p {
    color: #fff;
    margin: 5px 0; /* Adjust margin */
    font-size: 14px; /* Adjust font size */
    padding: 8px; /* Adjust padding for background color */
    background-color: rgba(12, 12, 12, 0.8);
    border-radius: 8px;
}

header h1 {
    font-size: 23px; /* Adjust the size of the text */
}

/* New styles for the collection banner */
.collection-banner img {
    display: block;
    margin: auto;
    align-items: center;
    width: 500px; /* Adjust width as needed */
    height: 500px; /* Adjust height to match width for a perfect circle */
    border-radius: 20px; /* Make it a perfect circle */
    margin-top: -100px;
}
